<form action="" method="POST">
  <strong>Name:</strong><input name="name" type="text">
  <strong>Type:</strong><input name="type" type="text">
  <strong>Mana Cost:</strong><input name="manaCost" type="text">
  /
      {{!-- "type": "Creature - Aetherborn Vampire",
      "textBox": {
        "abilities": [
          "Deathtouch",
          "lifelink"
        ],
        "flavorText": "A few aetherborn have discovered a way  to sustain their own existences at the cost of an instatiable hunger for the life essence of other beings."
      },
      "power": 2,
      "toughness": 3,
      "image": --}}
  <button>ADD CARD</button>
</form>